af_stream
af_stream_rel
burst_mode
burst_mode_120
burst_zoom
capture
flash_driver
reszhq
virtsenhq
p2rhq
prvhq
h3a_stream
hist_test
multi_open
prev_wrap
process_cam
rsz_vbuff
streaming_abs
streaming_frame
i421_errata_af_stats
streaming_to_video_file
streaming_zoom
fps
snapshot
sensor_modes

